<section class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" [src]="productDetail.prod_image" [alt]="productDetail.prod_name" />
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none"></div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">{{ productDetail.prod_name }}</h2>
                <h3 class="p-price">
                    <span *ngIf="productDetail.prod_discount" class="tachado">
            {{ productDetail.prod_price | currency }} </span
          ><span class="ml-1">{{
            productDetail.prod_price_exit | currency
          }}</span>
                </h3>
                <h4 class="p-stock">
                    Disponibilidad: <span>{{ productDetail.prod_stock }}</span>
                </h4>
                <br />
                <div class="row">
                    <div class="col-6">
                        <select class="form-control" id="DiscountPrices" name="size" placeholder="Seleccione Sub Categoria" #mySelectSize (change)="onOptionSize(mySelectSize.value)">
              <option [value]="null" [disabled]="true">
                Seleccione Una Talla *
              </option>
              <option
                *ngFor="let item of listSize"
                [value]="item.product_size_id"
              >
                {{ item.size_name }}
              </option>
            </select>
                    </div>
                    <div class="col-6">
                        <select class="form-control" id="DiscountPrices" name="color" placeholder="Seleccione Sub Categoria" #mySelectColor (change)="onOptionsColor(mySelectColor.value)">
              <option [value]="null" [disabled]="true">
                Seleccione Un Color *
              </option>
              <option *ngFor="let item of listColor" [value]="item.col_id">
                {{ item.col_name }}
              </option>
            </select>
                    </div>
                </div>

                <br />

                <a class="btn btn-sm site-btn" (click)="addCart(productDetail)">Comprar Ahora</a
        >
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button
                class="panel-link active"
                data-toggle="collapse"
                data-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapse1"
              >
                Información
              </button>
            </div>
            <div
              id="collapse1"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="panel-body">
                <p>
                  {{ productDetail.prod_description }}
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="panel">
            <div class="panel-header" id="headingThree">
              <button
                class="panel-link"
                data-toggle="collapse"
                data-target="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                Envio & Devoluciones
              </button>
            </div>
            <div
              id="collapse3"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordion"
            >
              <div class="panel-body">
                <h4>7 Days Returns</h4>
                <p>
                  Cash on Delivery Available<br />Home Delivery
                  <span>3 - 4 days</span>
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                  pharetra tempor so dales. Phasellus sagittis auctor gravida.
                  Integer bibendum sodales arcu id te mpus. Ut consectetur lacus
                  leo, non scelerisque nulla euismod nec.
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
