<section class="footer-section">
  <div class="container">
    <div class="footer-logo text-center">
      <a href="index.html"><img src="./img/logo-light.png" alt="" /></a>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget about-widget">
          <h2>Conocenos</h2>
          <p>
            Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis.
            Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer
            ac sem.
          </p>
          <img src="img/cards.png" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget contact-widget">
          <h2>Nosotros</h2>
          <div class="con-info">
            <span>A.</span>
            <p>Tienda Eliana And Flaco</p>
          </div>
          <div class="con-info">
            <span>B.</span>
            <p>Bogota Colombia</p>
          </div>
          <div class="con-info">
            <span>C.</span>
            <p>+53 345 7953 32453</p>
          </div>
          <div class="con-info">
            <span>D.</span>
            <p>office@youremail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="" class="instagram"
          >
          <i class="fab fa-instagram"></i><span></span></a
        >
        <a href="" class="facebook"
          ><i class="fab fa-facebook-f"></i><span>facebook</span></a
        >
        <a href="" class="twitter"
          ><i class="fab fa-twitter"></i><span>twitter</span></a
        >
        <a href="" class="youtube"
          ><i class="fab fa-youtube"></i><span>youtube</span></a
        >
        <a href="" class="tumblr"
          ><i class="fab fa-tumblr-square"></i><span>tumblr</span></a
        >
      </div>
    </div>
  </div>
</section>
