<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a class="site-logo">
            <img src="../../../../../assets/img/Logo-Moda.png" class ="img-logo" alt="Es-Moda">
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Buscar En Tienda ...." />
            <button><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <ng-container *ngIf="!authSessio.loggedIn(); else loggedIn">
              <div class="up-item">
                <i class="far fa-user loggendIn"></i>
                <span style="margin-left: 1em">
                  <a [routerLink]="['/login']">Ingresar</a> |
                  <a [routerLink]="['/register']">Registrarse</a>
                </span>
              </div>
            </ng-container>
            <ng-template #loggedIn>
              <div class="up-item">
                <i class="far fa-user Loggend"></i>
                <span style="margin-left: 1em">
                  <a class="btn" (click)="logOut()">Salir</a>|
                  <a class="btn">Perfil</a>
                </span>
              </div>
            </ng-template>

            <div class="up-item">
              <div class="shopping-card">
                <i class="fas fa-shopping-cart"></i>
                <span>0</span>
              </div>
              <span style="margin-left: 1em">
                <a href="#">Carrito</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
