<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a [routerLink]="['/home']" class="title">
      <i class="fas fa-gifts"></i> <span> Tienda</span></a
    >
  </div>
  <div class="list-group list-group-flush">
    <a
      [routerLink]="['/admin']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="fas fa-columns"></i><span> Dashboard </span>
    </a>
    <a
      [routerLink]="['/admin/users/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="fas fa-users"></i> <span> Usuarios </span></a
    >
    <a
      [routerLink]="['/admin/colors/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="fas fa-paint-roller"></i> <span> Color </span></a
    >
    <a
      [routerLink]="['/admin/category/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="far fa-bookmark"></i> <span> Categorias </span></a
    >
    <a
      [routerLink]="['/admin/sub-category/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="fas fa-book-reader"></i> <span> Sub Categorias </span></a
    >
    <a
      [routerLink]="['/admin/promotions/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="far fa-smile-beam"></i><span> Promociones </span></a
    >
    <a
      [routerLink]="['/admin/product/list']"
      class="list-group-item list-group-item-action bg-light"
      ><i class="fas fa-tshirt"></i> <span> Productos </span></a
    >
  </div>
</div>
