// Colores Para el Administrador

$admin-primary-color: #434547 !important;
$admin-secondary-color: #0143a3 !important;
$white: #fbfcfd;
$gray: rgba(95, 92, 92, 0.993);
$pinkacent: #f51167;
$black: #111111;
$red: rgba(245, 39, 39, 0.966);
$green: rgb(43, 146, 40);
$navbar: rgba(24, 24, 24, 0.986);
// Colores Para El Apartado Publico
