// Colores Para el Administrador

$admin-primary-color: #434547 !important;
$admin-secondary-color: #0143a3 !important;
$white: #fbfcfd;
$gray: rgba(139, 138, 138, 0.993);
// Colores Para El Apartado Publico
