$palette: (
    25: #f4f4f4,
    //Éste item es personalizado, tener cuidado al reemplazar - color de la fila impar de la tabla
    50: #e7eaec,
    100: #c2cad1,
    200: #9aa6b2,
    300: #718293,
    400: #52687b,
    500: #344d64,
    600: #2f465c,
    700: #273d52,
    800: #213448,
    900: #152536,
    A100: #76b3ff,
    A200: #4397ff,
    A400: #107bff,
    A700: #006ef6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
