@import "../../../../assets/styles/main-theme.scss";  
.table {
    min-width: 100%;
  
    td,
    th {
      text-align: center;
      vertical-align: middle;
    }
  
    tr:nth-child(even) {
      background-color: mat-color($candy-app-primary, 25);
    }
  
    thead .fa {
      margin-right: 5px;
    }
  
    mat-form-field {
      text-align: center;
    }
  
    .table-image {
      max-width: 50px;
    }
  
    .actions-column {
      // text-align: left;
      width: 225px;
    }
  
    .phone-column {
      max-width: 100px;
    }
  
    .active-column {
      max-width: 50px;
    }
  }
  .pagination-container {
    float: right;
  }
  .action-icon {
    cursor: pointer !important;
  }
  .circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .circular img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  