<section class="checkout-section spad">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6">
        <form class="checkout-form" (ngSubmit)="sigin()" #forma="ngForm">
          <div class="cf-title txt-center">Iniciar Sesion</div>
          <div class="row address-inputs">
            <div class="col-md-12">
              <input
                type="email"
                #email="ngModel"
                [(ngModel)]="login.email"
                class="form-control txt-center"
                placeholder="Correo Electronico"
                name="email"
                required
                [ngClass]="{
                  'is-valid': !email.invalid,
                  'is-invalid': email.invalid
                }"
                pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
              />
              <div
                class="alert alert-danger"
                *ngIf="email.invalid && (email.dirty || email.touched)"
              >
                el email {{ login.email }} no es valido,
                EJEMPLO:Usuario@gmail.com
              </div>
            </div>
            <div class="col-md-12">
              <input
                type="password"
                #password="ngModel"
                [(ngModel)]="login.password"
                placeholder="password"
                name="password"
                class="form-control txt-center"
                required
                [ngClass]="{
                  'is-valid': !password.invalid,
                  'is-invalid': password.invalid
                }"
              />
              <div
                class="alert alert-danger"
                *ngIf="password.invalid && (password.dirty || password.touched)"
              >
                Introduzca Una Contraseña Valida Por Favor
              </div>
            </div>
          </div>
          <button class="site-btn submit-order-btn" [ngClass]="{'disabled-btn': !forma.valid}" [disabled]="!forma.valid">
            Enviar
          </button>
          <label>¿Ha olvidado la contraseña ? </label>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
